
<div class="mx-auto my-3">

    <div class="card">
        <img class="card-img card-img-top img-fluid" src="{{ post.image.url }}" alt="Bologna">
        <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm">Cooking</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{post.title}}</h4>
            <small class="text-muted cat">
                <i class="far fa-clock text-info"></i> 30 minutes
                <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">I love quick, simple pasta dishes, and this is one of my favorite.</p>
            <a href="post/{{post.id}}" class="btn btn-info">Read Recipe</a>
            <a class="new" href="post/{{ post.id }}"><button class="btn1">Detailed Roadmap</button></a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
                <i class="far fa-eye"></i> 1347
                <i class="far fa-comment"></i> 12
            </div>
        </div>
    </div>
</div>
