<style>
    .sticky {
        position: sticky;
        top: 90px;
        background: #ffffff;
    }
</style>

<div class="rounded sticky">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <div class="text-center">
                <h3>Categories</h3>
            </div>
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo porro dolores ipsam dignissimos dolorum dolore facilis officia assumenda! Eligendi beatae reiciendis minus hic provident impedit eos nostrum, deleniti commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo porro dolores ipsam dignissimos dolorum dolore facilis officia assumenda! Eligendi beatae reiciendis minus hic provident impedit eos nostrum, deleniti commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo porro dolores ipsam dignissimos dolorum dolore facilis officia assumenda! Eligendi beatae reiciendis minus hic provident impedit eos nostrum, deleniti commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo porro dolores ipsam dignissimos dolorum dolore facilis officia assumenda! Eligendi beatae reiciendis minus hic provident impedit eos nostrum, deleniti commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo porro dolores ipsam dignissimos dolorum dolore facilis officia assumenda! Eligendi beatae reiciendis minus hic provident impedit eos nostrum, deleniti commodi.
        </div>
    </div>

</div>