<style>
    .sticky {
        position: sticky;
        background: #ffffff;
    }
</style>

<div class="rounded sticky">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <div class="text-center">
                <h3>Actions</h3>
            </div>
        </div>
        <div>
            <li><a href="{% url 'post-create' %}">Create Post</a></li>
            <li><a href="{% url 'stars' %}">Starred Posts</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>

        </div>
    </div>

</div>