
<div class="rounded bg-transparent sticky">
    <div class="card mb-2">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
                <center>
                    <h3 class="">Categories</h3>
                </center>
                <hr>
            </div>
            {% for category in categories_list %}
            <div class="list-group">
                <a href="{% url 'category' category.slug %}" class="btn btn-info my-1 rounded-pill opacity-100">{{category.title}}</a>
        
               

            </div>
            {% endfor %}
        </div>
    </div>
   
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-2">
                <center>
                    <h3 class="">Categories</h3>
                </center>
                <hr>
            </div>
            {% for category in categories_list %}
            <div class="list-group">
                <a href="{% url 'category' category.slug %}" class="btn btn-info my-1 rounded-pill opacity-100">{{category.title}}</a>
        
               

            </div>
            {% endfor %}
        </div>
    </div>
</div>