{% load static %}
<header id="header" class="sticky-top">
    <div class="container d-flex align-items-center">
        <h1 class="logo me-5"><a href="{% url 'user-home' %}">WalkThrough</a></h1>
        <div class="col-xl-6 ms-4">
            <form class="d-flex container-fluid">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-danger" type="submit">Search</button>
            </form>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid ms-5">
                <div class="collapse navbar-collapse" id="">
                    <ul>
                        <li><a class="nav-link scrollto" href="{% url 'user-home' %}">Home</a></li>
                        <li><a class="nav-link scrollto" href="#about">Our Story</a></li>
                        {% if user.is_authenticated %}
                        <li class="dropdown"><a href="{% url 'profile' %}"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="{% url 'post-create' %}">Create Post</a></li>
                                <li><a href="{% url 'stars' %}">Starred Posts</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
                                    <ul>
                                        <li><a href="{% url 'register' %}">Register</a></li>
                                        <li><a href="{% url 'login' %}">Login</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>







    <!-- <div class="container d-flex align-items-center ">

        <h1 class="logo me-auto"><a href="{% url 'user-home' %}">WalkThrough</a></h1>

        <nav id="navbar" class="navbar light">
            <ul>
                <li><a class="nav-link scrollto" href="{% url 'user-home' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">Our Story</a></li>

                {% if user.is_authenticated %}
                <li class="dropdown"><a href="{% url 'profile' %}"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="{% url 'post-create' %}">Create Post</a></li>
                        <li><a href="{% url 'stars' %}">Starred Posts</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                        <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a href="{% url 'register' %}">Register</a></li>
                                <li><a href="{% url 'login' %}">Login</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div> -->
</header>