{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/media/favicon1.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Alertify Js CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- Alertify Js Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />

    <script src="/static/ckeditor/ckeditor-init.js" data-ckeditor-basepath="/static/ckeditor/ckeditor/" id="ckeditor-init-script"></script>
    <script src="/static/ckeditor/ckeditor/ckeditor.js"></script>


    <!--Alertify Js-->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <!-- AOS animate resources -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    {% if title %}
    <title>WalkThrough | {{ title }}</title>
    {% else %}
    <title>WalkThrough</title>
    {% endif %}
    {% block custom_css %}{% endblock %}

</head>

<body class="d-flex flex-column min-vh-100" style="padding-top: 100px;">
    {% include 'includes/navbar.html' %}

    {% block content %}

    {% endblock %}

    {% include 'includes/style.html' %}
    {% include 'includes/footer.html' %}

    {% block custom_js %}{% endblock %}
    {% include 'includes/notification.html' %}

    <script>
        {% if messages %}
        {% for message in messages %}
        alertify.set('notifier', 'position', 'top-right');
        alertify.success('{{ message }}');
        {% endfor %}
        {% endif %}
    </script>
</body>

</html>