{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="/media/favicon1.png">
    <script src='https://cdn.tiny.cloud/1/cfqb6c91jvlqn540uv9jyp4cpsewybr9rgabi05kdus75q12/tinymce/4/tinymce.min.js' referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea#id_description'
        });
        tinymce.init({
            selector: 'textarea#id_content'
        });
    </script>
    {% if title %}
    <title>WalkThrough | {{ title }}</title>
    {% else %}
    <title>WalkThrough</title>
    {% endif %}
    {% block custom_css %}{% endblock %}

</head>

<class="d-flex flex-column min-vh-100">

    {% include 'includes/navbar.html' %}

    {%if messages%}
        {%for message in messages%}
            <div class="alert alert-{{message.tags}}">
                {{message}}
            </div>
        {%endfor%}
    {%endif%}

    {% block content %}
    
    {% endblock %}

    {% include 'includes/style.html' %}
    {% include 'includes/footer.html' %}

    {% block custom_js %}{% endblock %}
    {% include 'includes/notification.html' %}

</class=>

</html>