{% extends "base.html" %}
{%load crispy_forms_tags%}
{% block content%}

<div class="container my-4">
    <div class="row">
      <div class="col-8">
        <h1 class="display-2 ">Title for flow</h1>
    <small class="text-muted">With faded secondary text</small>
        <div class="row">
          <!-- timeline item 1 left dot -->
          <div class="col-auto text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                  <div class="col">&nbsp;</div>
                  <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                  <span class="badge badge-pill bg-light border">&nbsp;</span>
              </h5>
              <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
              </div>
          </div>
          <!-- timeline item 1 event content -->
          <div class="col py-2">
              <div class="card">
                  <div class="card-body">
                      <div class="float-right text-muted">Mon, Jan 9th 2019 7:00 AM</div>
                      <h4 class="card-title text-muted">Day 1 Orientation</h4>
                      <p class="card-text">Welcome to the campus, introduction and get started with the tour.</p>
                  </div>
              </div>
          </div>
      </div>
      <!--/row-->

      <div class="row">
        <!-- timeline item 1 left dot -->
        <div class="col-auto text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <!-- timeline item 1 event content -->
        <div class="col py-2">
            <div class="card">
                <div class="card-body">
                    <div class="float-right text-muted">Mon, Jan 9th 2019 7:00 AM</div>
                    <h4 class="card-title text-muted">Day 1 Orientation</h4>
                    <p class="card-text">Welcome to the campus, introduction and get started with the tour.</p>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->

    <div class="row">
      <!-- timeline item 1 left dot -->
      <div class="col-auto text-center flex-column d-none d-sm-flex">
          <div class="row h-50">
              <div class="col">&nbsp;</div>
              <div class="col">&nbsp;</div>
          </div>
          <h5 class="m-2">
              <span class="badge badge-pill bg-light border">&nbsp;</span>
          </h5>
          <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
          </div>
      </div>
      <!-- timeline item 1 event content -->
      <div class="col py-2">
          <div class="card">
              <div class="card-body">
                  <div class="float-right text-muted">Mon, Jan 9th 2019 7:00 AM</div>
                  <h4 class="card-title text-muted">Day 1 Orientation</h4>
                  <p class="card-text">Welcome to the campus, introduction and get started with the tour.</p>
              </div>
          </div>
      </div>
  </div>
  <!--/row-->

  <div class="row">
    <!-- timeline item 1 left dot -->
    <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
            <div class="col">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
        <h5 class="m-2">
            <span class="badge badge-pill bg-light border">&nbsp;</span>
        </h5>
        <div class="row h-50">
            <div class="col border-right">&nbsp;</div>
            <div class="col">&nbsp;</div>
        </div>
    </div>
    <!-- timeline item 1 event content -->
    <div class="col py-2">
        <div class="card">
            <div class="card-body">
                <div class="float-right text-muted">Mon, Jan 9th 2019 7:00 AM</div>
                <h4 class="card-title text-muted">Day 1 Orientation</h4>
                <p class="card-text">Welcome to the campus, introduction and get started with the tour.</p>
            </div>
        </div>
    </div>
</div>
<!--/row-->

<div class="row">
  <!-- timeline item 1 left dot -->
  <div class="col-auto text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
          <div class="col">&nbsp;</div>
          <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
      </div>
  </div>
  <!-- timeline item 1 event content -->
  <div class="col py-2">
      <div class="card">
          <div class="card-body">
              <div class="float-right text-muted">Mon, Jan 9th 2019 7:00 AM</div>
              <h4 class="card-title text-muted">Day 1 Orientation</h4>
              <p class="card-text">Welcome to the campus, introduction and get started with the tour.</p>
          </div>
      </div>
  </div>
</div>
<!--/row-->

<!-- timeline item 2 -->
<div class="row">
  <div class="col-auto text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
          <span class="badge badge-pill bg-success">&nbsp;</span>
      </h5>
      <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
      </div>
  </div>
  <div class="col py-2">
      <div class="card border-success shadow">
          <div class="card-body">
              <div class="float-right text-success">Tue, Jan 10th 2019 8:30 AM</div>
              
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">

                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h4 class="card-title text-success">Day 2 Sessions</h4>
                      </button>
                    </h2>
                  </div>
              <button class="btn btn-sm btn-outline-secondary" type="button" data-target="#t2_details" data-toggle="collapse">Checklist</button>
                      <div class="collapse border" id="t2_details">
                          <div class="p-2">
                               <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                  <div>08:30 - 09:00 Breakfast in CR 2A</div>
                                </label>
                              </div>
                              
                              <div>09:00 - 10:30 Live sessions in CR 3</div>
                              <div>10:30 - 10:45 Break</div>
                              <div>10:45 - 12:00 Live sessions in CR 3</div>
                          </div>
                      </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <p class="card-text">
                        Where does it come from?
                        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                        
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                        
                        Where can I get some?
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handf</p>
                      
                    </div>
                </div>
                  </div>
                </div>
              
          </div>
      </div>
  </div>
</div>

<div class="row">
  <!-- timeline item 1 left dot -->
  <div class="col-auto text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
          <div class="col">&nbsp;</div>
          <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
      </div>
  </div>
  <!-- timeline item 1 event content -->
  <div class="col py-2">
      <div class="card">
          <div class="card-body">
              <div class="float-right text-muted">Mon, Jan 9th 2019 7:00 AM</div>
              <h4 class="card-title text-muted">Day 1 Orientation</h4>
              <p class="card-text">Welcome to the campus, introduction and get started with the tour.</p>
          </div>
      </div>
  </div>
</div>
<!--/row-->

<div class="row">
  <!-- timeline item 1 left dot -->
  <div class="col-auto text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
          <div class="col">&nbsp;</div>
          <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
          <span class="badge badge-pill bg-light border">&nbsp;</span>
      </h5>
      <div class="row h-50">
          <div class="col border-right">&nbsp;</div>
          <div class="col">&nbsp;</div>
      </div>
  </div>
  <!-- timeline item 1 event content -->
  <div class="col py-2">
      <div class="card">
          <div class="card-body">
              <div class="float-right text-muted">Mon, Jan 9th 2019 7:00 AM</div>
              <h4 class="card-title text-muted">Day 1 Orientation</h4>
              <p class="card-text">Welcome to the campus, introduction and get started with the tour.</p>
          </div>
      </div>
  </div>
</div>
<!--/row-->
      
      
        </div>
      <div class="col">
        3 of 3
      </div>
    </div>
</div>

<script>
  // sandbox disable popups
  if (window.self !== window.top && window.name!="view1") {;
    window.alert = function(){/*disable alert*/};
    window.confirm = function(){/*disable confirm*/};
    window.prompt = function(){/*disable prompt*/};
    window.open = function(){/*disable open*/};
  }
  
  // prevent href=# click jump
  document.addEventListener("DOMContentLoaded", function() {
    var links = document.getElementsByTagName("A");
    for(var i=0; i < links.length; i++) {
      if(links[i].href.indexOf('#')!=-1) {
        links[i].addEventListener("click", function(e) {
        console.debug("prevent href=# click");
            if (this.hash) {
              if (this.hash=="#") {
                e.preventDefault();
                return false;
              }
              else {
                /*
                var el = document.getElementById(this.hash.replace(/#/, ""));
                if (el) {
                  el.scrollIntoView(true);
                }
                */
              }
            }
            return false;
        })
      }
    }
  }, false);
</script>

<!--scripts loaded here-->

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
{%endblock content%}