{% extends "base.html" %}
{%load crispy_forms_tags%}
{% block content%}
{% for subpost in subpost %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="">
         <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#"></a>
              <small class="text-muted">{{subpost}}</small>   
            </div>
              <!-- <h2><a class="article-title" href="post/{{ subpost.id}}">{{ post.title }}</a></h2>
              <a href="{% url 'post-subpost' %}">Detailed Roadmap</a>
              <small>{{ post.topic.name }}</small> -->
         </div>
      </article>
    {% endfor %}
{%endblock content%}