{% extends "base.html" %}
{%load crispy_forms_tags%}
{% block content%}

<style>
  /* Design */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    background-color: #ecf9ff;
  }

  .main {
    display: inline-block;
    margin: 0 auto;
    width: 33%
  }

  h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }




.thumbnail{
    padding: .25rem;
    background-color: #fff;
    /* border: 1px solid #dee2e6; */
    border-radius: .75rem;
    max-width: 100%;
    height: auto;}

  

  card-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

.card-title {
  margin-bottom: 0.3rem;
}

.cat {
  display: inline-block;
  margin-bottom: 1rem;
}

.fa-users {
  margin-left: 1rem;
}

.card-footer {
  font-size: 0.8rem;
}
.card-img-top {
    max-height: 30vh; /*not want to take all vertical space*/
    object-fit: cover;/*show all image, autosized, no cut, in available space*/
}

.card-img-overlay{
  pointer-events: none;

}


</style>
<div class="d-flex justify-content-center container">


  <div class="row">
    <div class="col-3">
      <div class="mx-auto my-5 " >
      <!-- <div class="sticky-top"> -->
        <h3>Left Sidebar</h3>


          add backend code here for left sidebar Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cupiditate, molestias neque unde possimus consequuntur voluptate ad vero veritatis aliquam dignissimos enim. Excepturi quae fuga, exercitationem molestiae minima maiores accusamus?

      </div>
    </div>
    <!-- card start  -->
    
    <div class="container col-6">
      {% for post in posts %}
      <div class="mx-auto my-5 " >
    
        <div class="card">
          <img class="card-img card-img-top img-fluid" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/pasta.jpg" alt="Bologna">
          <div class="card-img-overlay">
            <a href="#" class="btn btn-light btn-sm">Cooking</a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{post.title}}</h4>
            <small class="text-muted cat">
              <i class="far fa-clock text-info"></i> 30 minutes
              <i class="fas fa-users text-info"></i> 4 portions
            </small>
            <p class="card-text">I love quick, simple pasta dishes, and this is one of my favorite.</p>
            <a href="post/{{post.id}}" class="btn btn-info">Read Recipe</a>
            <a class="new" href="post/{{ post.id }}"><button class="btn1">Detailed Roadmap</button></a>
          </div>
          <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
            <div class="views">Oct 20, 12:45PM
            </div>
            <div class="stats">
               <i class="far fa-eye"></i> 1347
              <i class="far fa-comment"></i> 12
            </div>
             
          </div>
        </div>
        </div>
      {% endfor %}
     
  </div>
    
    <!-- <div class="main col-6">

      {% for post in posts %}
      <div class="card1">
        <div class="card_content">
          <img src="{{ post.image.url }}" class="img-fluid" loading="lazy">

          <center><a class="text" href="post/{{ post.id }}">{{ post.title }}</a>
            <small class="card_text">{{ post.topic.name }}</small><br>
            <a class="mr-2" href="#">By {{post.author }}</a>
            <small class="text2">on {{ post.date_posted|date:"F d,Y"}}</small>
          </center>

          <a class="new" href="post/{{ post.id }}"><button class="btn1">Detailed Roadmap</button></a>

        </div>
      </div>
      {% endfor %}
    </div> -->
    <div class="col-3">
      <div class="mx-auto my-5 " >
        <!-- <div class="sticky-top"> -->
          <h3>Left Sidebar</h3>
  
  
          add backend code here for left sidebar Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt cupiditate, molestias neque unde possimus consequuntur voluptate ad vero veritatis aliquam dignissimos enim. Excepturi quae fuga, exercitationem molestiae minima maiores accusamus?
  
        </div>
      </div>
    </div>
  </div>
</div>




{%endblock content%}