{% extends "base.html" %}

{% block content%}

        <!-- start banner Area -->
        <section class="banner-area relative" id="home">
            <div class="container">
                <div class="row fullscreen d-flex align-items-center justify-content-start">
                    <div class="banner-content col-lg-8 col-md-12">
                        <h1 class="text-uppercase">
                            We Make <br>
                            Your Walk Through <br>
                            More Easier				
                        </h1>
                        <p class="text-white">
                            Create your own roadmaps for your journeys<br>also learn simply with the help of prebuilt roadmaps from experts
                        </p>
                        <a href="#" class="primary-btn header-btn text-uppercase">Explore Our Features</a>
                    </div>												
                </div>
            </div>
        </section>
        <!-- End banner Area -->	

        
            

        
            <section class="service-area section-gap" id="service">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-8 pb-40 header-text">
                            <h1>Explore</h1>
                            
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-lg-4 col-md-6">
                            <div class="single-service">
                                <h4><span class="lnr lnr-bookmark"></span>Follow</h4>
                                <p>
                                    You can follow authors of different roadmaps according to your needs and interests.
                                </p>									
                            </div>
                        </div>						
                    </div>
                </div>	
            </section>
        
                            
        <!-- Start about Area -->
        <section class="about-area" id="about">
            <div class="container-fluid">
                <div class="row d-flex justify-content-end align-items-center">
                    <div class="col-lg-6 col-md-12 about-left">
                        <h1>We Believe that
                            Walkthrogh beautifies the</h1>
                        <p>
                            journeys that you decide to walkthrough in your life. Whenever you want to learn something new and have problems deciding which road map to take to make your journey successful visit Walkthrough to find similar roadmaps and build your own roadmap. You can also guide others who are facing difficulties in their journey by posting your walkthrough through your journeys so that they can have a smooth walkthrough.
                        </p>
                        <a href="#" class="primary-btn header-btn text-uppercase">See Details</a>	
                    </div>						
                    <div class="col-lg-6 col-md-12 about-right no-padding">
                        <img class="img-fluid" src="img/c1.jpg" alt="">
                    </div>
                </div>
            </div>	
        </section>
        <!-- End about Area -->			

        <!-- Start service Area -->
        <section class="service-area section-gap" id="service">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 pb-40 header-text">
                        <h1>Some Features that Made us Unique</h1>
                        <p>
                            Who are in extremely love with walkthrough journeys.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <h4><span class="lnr lnr-users"></span>Create your roadmap</h4>
                            <p>
                                You can create your own roadmap through posts and also you can update them.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <h4><span class="lnr lnr-home"></span>All resources in one place</h4>
                            <p>
                                All the resources required through your walkthrough journeys are available at single place.
                            </p>								
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <h4><span class="lnr lnr-sort-amount-asc"></span>Step-By-Step Explanations</h4>
                            <p>
                                You can also find step-by-step explanations in each roadmap for easy understanding.
                            </p>								
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <h4><span class="lnr lnr-list"></span>Category Search for Roadmaps</h4>
                            <p>
                                You can search through categories and through titles to find your required roadmaps.
                            </p>				
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <h4><span class="lnr lnr-star"></span>Star feature</h4>
                            <p>
                                You can star and unstar roadmaps according to your requirements.This is very useful.
                            </p>								
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-service">
                            <h4><span class="lnr lnr-bookmark"></span>Follow</h4>
                            <p>
                                You can follow authors of different roadmaps according to your needs and interests.
                            </p>									
                        </div>
                    </div>						
                </div>
            </div>	
        </section>
    
        <!-- End service Area -->			

        <!-- Start info Area --> 
        <section class="info-area relative section-gap">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-lg-5">
                        <h1 class="text-white">From the root <br>
                        of experience We dig <br>
                        out the best experiences</h1>
                        <p class="pt-20 pb-20">
                            We provide all the resources and different roadmaps that you need throughout your walkthrough journey. You only need to make your choice.
                        </p>
                        <a href="#" class="primary-btn header-btn text-uppercase">Get Customer Support</a>																
                    </div>
                </div>
            </div>	
        </section>
        <!-- End info Area -->
        

        <!-- Start faq Area -->
        <section class="faq-area section-gap" id="faq">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Features That make us Unique</h1>
                            <p>Who are in extremely love with walkthrough journeys.</p>
                        </div>
                    </div>
                </div>							
                <div class="row d-flex align-items-center">
                    <div class="counter-left col-lg-3 col-md-3">
                        <div class="single-facts">
                            <h2 class="counter">5962</h2>
                            <p>Roadmaps completed</p>							
                        </div>
                        <div class="single-facts">
                            <h2 class="counter">2394</h2>
                            <p>New Users</p>							
                        </div>
                        <div class="single-facts">
                            <h2 class="counter">1439</h2>
                            <p>Followed authors</p>							
                        </div>												
                        <div class="single-facts">
                            <h2 class="counter">933</h2>
                            <p>Starred roadmaps</p>							
                        </div>
                    </div>	
                    <div class="faq-content col-lg-9 col-md-9">
                        <div class="single-faq">
                            <h2>
                                  Can I ask questions on any roadmap?
                            </h2>
                            <p>
                                “Yes. We have comment feature in every roadmap which helps you to make comments on roadmaps.
                            </p>
                        </div>
                        <div class="single-faq">
                            <h2>
                                Can I post roadmap without registering?
                            </h2>
                            <p>
                                “No. You must register an account to make a post.
                            </p>
                        </div>
                        <div class="single-faq">
                            <h2>
                                Can I star any post and follow any author?
                            </h2>
                            <p>
                                “Yes. You can star and unstar, follow and unfollow anytime according to your will.
                            </p>
                        </div>												
                    </div>									
                </div>
            </div>
        </section>
{%endblock content%}




