{% extends "base.html" %}
{%load crispy_forms_tags%}
{% block content %}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<style>
  .thumbnail {
    padding: .25rem;
    background-color: #fff;
    /* border: 1px solid #dee2e6; */
    border-radius: .75rem;
    max-width: 100%;
    height: auto;
  }

  .page-item {
    margin: 5px;
  }

  .card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .card-title {
    margin-bottom: 0.3rem;
  }

  .cat {
    display: inline-block;
    margin-bottom: 1rem;
  }

  .fa-users {
    margin-left: 1rem;
  }

  .card-footer {
    font-size: 0.8rem;
  }

  .card-img-top {
    max-height: 35vh;
    object-fit: cover;
  }

  .sticky {
    position: sticky;
    top: 90px;

  }

  .sticky2 {
    position: sticky;
    top: 0;
  }
</style>

<div class="container my-4" data-aos="fade-up">
  <div class="d-flex justify-content-center px-1">
    <div class="col-4 mx-1 mb-1">
      <div class="sticky bg-transparent">
        {% if object.author == user %}
        <div class="" >
          <div class="card-body rounded mb-2 card" data-aos="fade-up">
            <div class="text-center">
              <h3>Actions</h3>

            </div>
            <div class="row justify-content-md-center my-2">
              <div class="col">
                <a class="btn btn-primary w-100 rounded-pill" href="{% url 'post-update' object.id %}">Update</a>
              </div>
              <div class="col">
                <a class="btn btn-danger w-100 rounded-pill" data-bs-toggle="modal" data-bs-target="#deletePost">
                  Delete
                </a>
              </div>
            </div>
            <div class="row my-2">
              <div class="col">
                <a class="btn btn-success w-100 rounded-pill" href="{%url 'subpost-create' post.pk%}">Add a SubPost</a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="card-body sticky2 rounded card" data-aos="fade-up">
          <div class="text-center">
            <h3>Categories</h3>
            {% if not post.subposts.all%}
            <div class="card text-center py-2">
              <h4>
                No SubPosts yet.
              </h4>
            </div>
            {% endif %}
            <ol>
              {%for subpost in post.subposts.all%}
              <li class="text-left"><a href="../../post/{{post.id}}/#{{subpost.id}}">{{subpost.title}}</a></li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 mx-1">
      <div class="mx-auto">
        <div class="card">
          <img class="card-img card-img-top img-fluid" src="{{ post.image.url }}" alt="Bologna">
          <div class="card-body" data-aos="fade-up">
            <h1 class="card-title my-2">{{post.title}}</h1>
            <div class="d-flex justify-content-start my-2">
              <div class="me-5">
                <i class="bx bxs-user"></i><a href="{% url 'user-info' post.id %}">{{object.author}}</a>
              </div>
              <div class="me-5">
                <i class="bx bx-time"></i>{{ object.date_posted|date:"F d, Y" }}
              </div>
              <div class="me-5">
                <i class="bx bxs-comment"></i>{{comments.count}}
              </div>
            </div>
            <p class="card-text">{{object.content | safe}}</p>
          </div>
        </div>
        {% include 'includes/subpages/subposts.html' %}
      </div>
    </div>
  </div>
  {% include 'includes/subpages/comments.html' %}
</div>



<!-- Post delete modal -->
<div class="modal fade" id="deletePost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the post "{{object.title}}"?
      </div>
      <div class="modal-footer">
        <div class="clearfix">
          <a type="button" class="btn btn-secondary btn-sm mt-1 mb-1" data-bs-dismiss="modal">Close</a>
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>








<!-- <script>
  // sandbox disable popups
  if (window.self !== window.top && window.name != "view1") {
    ;
    window.alert = function () {/disable alert/ };
    window.confirm = function () {/disable confirm/ };
    window.prompt = function () {/disable prompt/ };
    window.open = function () {/disable open/ };
  }

  // prevent href=# click jump
  document.addEventListener("DOMContentLoaded", function () {
    var links = document.getElementsByTagName("A");
    for (var i = 0; i < links.length; i++) {
      if (links[i].href.indexOf('#') != -1) {
        links[i].addEventListener("click", function (e) {
          console.debug("prevent href=# click");
          if (this.hash) {
            if (this.hash == "#") {
              e.preventDefault();
              return false;
            }
            else {
              /*
              var el = document.getElementById(this.hash.replace(/#/, ""));
              if (el) {
                el.scrollIntoView(true);
              }
              */
            }
          }
          return false;
        })
      }
    }
  }, false);
</script> -->
{% endblock content %}