{% extends "base.html" %}
{%load crispy_forms_tags%}
{% block content %}

<style>
  .thumbnail {
    padding: .25rem;
    background-color: #fff;
    /* border: 1px solid #dee2e6; */
    border-radius: .75rem;
    max-width: 100%;
    height: auto;
  }

  .page-item {
    margin: 5px;
  }

  .card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .card-title {
    margin-bottom: 0.3rem;
  }

  .cat {
    display: inline-block;
    margin-bottom: 1rem;
  }

  .fa-users {
    margin-left: 1rem;
  }

  .card-footer {
    font-size: 0.8rem;
  }

  .card-img-top {
    max-height: 35vh;
    /*not want to take all vertical space*/
    object-fit: cover;
    /*show all image, autosized, no cut, in available space*/
  }

</style>

<div class="container my-4">
  <div class="d-flex justify-content-center">
    <div class="col-4 ">
      <div class="card">
        fhybdj
      </div>
    </div>
    <div class="col-8">
      <div class="mx-auto">
        <div class="card">
          <img class="card-img card-img-top img-fluid" src="{{ post.image.url }}" alt="Bologna">
          <div class="card-body">
            <h1 class="card-title my-2">{{post.title}}</h1>
            <div class="d-flex justify-content-start my-2">
              <div class="me-5">
                <i class="bx bxs-user"></i><a href="{% url 'user-info' post.id %}">{{object.author}}</a>
              </div>
              <div class="me-5">
                <i class="bx bx-time"></i>{{ object.date_posted|date:"F d, Y" }}
              </div>
              <div class="me-5">
                <i class="bx bxs-comment"></i>{{comments.count}}
              </div>
            </div>
            <p class="card-text">{{object.content | safe}}</p>
          </div>
        </div>
        {% include 'includes/subpages/subposts.html' %}
      </div>
    </div>
  </div>
  {% include 'includes/subpages/comments.html' %}
</div>











<!-- <script>
  // sandbox disable popups
  if (window.self !== window.top && window.name != "view1") {
    ;
    window.alert = function () {/*disable alert*/ };
    window.confirm = function () {/*disable confirm*/ };
    window.prompt = function () {/*disable prompt*/ };
    window.open = function () {/*disable open*/ };
  }

  // prevent href=# click jump
  document.addEventListener("DOMContentLoaded", function () {
    var links = document.getElementsByTagName("A");
    for (var i = 0; i < links.length; i++) {
      if (links[i].href.indexOf('#') != -1) {
        links[i].addEventListener("click", function (e) {
          console.debug("prevent href=# click");
          if (this.hash) {
            if (this.hash == "#") {
              e.preventDefault();
              return false;
            }
            else {
              /*
              var el = document.getElementById(this.hash.replace(/#/, ""));
              if (el) {
                el.scrollIntoView(true);
              }
              */
            }
          }
          return false;
        })
      }
    }
  }, false);
</script> -->
{% endblock content %}