{% extends "base.html" %}
{%load crispy_forms_tags%}
{% block content%}

<style>
    .content-section {
        padding-left: 70px;
    }
</style>
<div class="offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center ">

    <div class="center card form-control" style="width: 700px;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="" style="text-align: center; margin-bottom: 10px; margin-top: 15px;">Update Post</legend>
            </fieldset>
            {{ form.as_p}}
            

            

            <center><button class="btn btn-outline-info" type="submit" style="margin-bottom: 15px; margin-top: 0px;">Post</button></center>
        </form>
    </div>
</div>

{%endblock content%}