{% extends "base.html" %}
{%load crispy_forms_tags%}
{% block content%}

<div class="d-flex justify-content-center my-3 mx-3 conatiner" >
    <div class="">
        <div class="form-control" style="width: ;">
            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="" style="text-align: center; margin-bottom: 10px; margin-top: 15px;">User Post</legend>
                </fieldset>
                {{ form.as_p }}
                <center><button class="btn btn-outline-info" type="submit" style="margin-bottom: 15px; margin-top: 0px;">Post</button></center>

            </form>
        </div>
    </div>
</div>



<!-- <div class="form-control">
    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="" style="text-align: center; margin-bottom: 10px; margin-top: 15px;">User Post</legend>
        </fieldset>
        {{ form.as_p }}
        <center><button class="btn btn-outline-info" type="submit" style="margin-bottom: 15px; margin-top: 0px;">Post</button></center>

    </form>
</div> -->




{%endblock content%}