{% extends "base.html" %}
{%load crispy_forms_tags%}
{% block content %}

<div class="offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center ">

    <div class="center card" style="width: 700px;">
        <div class="form-control">


            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <br>
                    <center>
                        <legend class="mb-4">Add subpost</legend>
                    </center>
                </fieldset>

                {{ form.as_p }}



                <center><button class="btn btn-outline-info" type="submit" style="margin-bottom: 15px;">Submit</button></center>
            </form>
        </div>
    </div>
</div>

{% endblock content %}