{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="d-flex justify-content-center align-items-center my-3">
    <div class="form-control my-3" style="width: 600px; border-radius: 10px;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="text-center mt-3">
                    <h3>Reset password</h3>
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group my-3">
                <center><button class="btn btn-outline-info" type="submit">Reset password</button></center>
            </div>
        </form>
    </div>
</div>
{% endblock content %}