{% extends "base.html" %}
{% block content %}
<style>
    html {
        background-color: #ecf9ff;
    }

    .main {
        display: inline-block;
        margin: 0 auto;
        width: 33%
    }

    h2 {
        text-align: center;
    }


    .thumbnail {
        padding: .25rem;
        background-color: #fff;
        /* border: 1px solid #dee2e6; */
        border-radius: .75rem;
        max-width: 100%;
        height: auto;
    }

    .page-item {
        margin: 5px;
    }

    card-img {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .card-title {
        margin-bottom: 0.3rem;
    }

    .cat {
        display: inline-block;
        margin-bottom: 1rem;
    }

    .fa-users {
        margin-left: 1rem;
    }

    .card-footer {
        font-size: 0.8rem;
    }

    .card-img-top {
        max-height: 30vh;
        /*not want to take all vertical space*/
        object-fit: cover;
        /*show all image, autosized, no cut, in available space*/
    }

    .card-img-overlay {
        pointer-events: none;
    }

    /* .customMargin {
        margin: 15px 0px;
        border-radius: 15px;

    } */
</style>
<div class="">
    <div class="container mt-3 mb-3">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body p-4">
                    <div class="d-flex text-black">
                        <div class="flex-shrink-0">
                            <img src="{{ profile.image.url }}" alt="{{ profile.user.username }}" class="img-fluid" style="width: 300px; border-radius: 10px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h1>{{ profile.user.username }}</h1>
                            <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ profile.user.email }}</p>
                            <div class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color: #efefef;">
                                <div class="px-3">
                                    <p class="small text-muted mb-1">Posts</p>
                                    <p class="mb-0"><strong>{{ posts.count }}</strong></p>
                                </div>
                                <div class="px-3">
                                    <p class="small text-muted mb-1">Followers</p>
                                    <p class="mb-0"><strong>{{ profile.followers.count }}</strong></p>
                                </div>
                                <div class="px-3">
                                    <p class="small text-muted mb-1">Following</p>
                                    <p class="mb-0"><strong>{{ profile.following.count }}</strong></p>
                                </div>
                            </div>
                            {% if profile.user == request.user %}
                            <div class="d-flex pt-1">
                                <a href="{% url 'profile' %}" class="btn btn-primary">Edit Profile</a>
                            </div>
                            {% else %}
                            {% if request.user.profile in profile.followers.all %}
                            <div class="d-flex pt-1">
                                <a href="{% url 'follow' profile.id  %}" class="btn btn-danger"> Unfollow </a>
                            </div>
                            {% else %}
                            <div class="d-flex pt-1">
                                <a href="{% url 'follow' profile.id  %}" class="btn btn-primary"> Follow </a>
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container card mt-3 mb-3" style="border-radius: 15px;">
        <div class="row">
            <div class="">
                <div class="card-body pb-0">
                    <center>
                        <h1>Posts</h1>
                    </center>
                    <hr>
                    {% include 'post/gallery.html' %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}